/*
  Date: November 2017
  Description: Horizontal Navigation with Hamburger Menu
  Version: 1.0
  Design By: Prince
  Author URL: http://designbyprince.com
*/

/* ===========================
   === General Body Styles === 
   =========================== */
html { height: 100%; }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 87.5%; /* Base font size: 14px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background: #F3F3F3;
    text-align: left;
    color: #666;
    line-height: 1.5em;
}
.container{
  width: 100%;
  position: absolute;
  top: 0;
  background:#FFF;
  -webkit-box-shadow: 0px 11px 6px -13px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px 11px 6px -13px rgba(0,0,0,0.73);
  box-shadow: 0px 11px 6px -13px rgba(0,0,0,0.73);
}
nav{
  width: 80%;
  height: 60px;
  margin: 0 auto;
  padding: 20px 0;
}
.logo{
  float: left;
  width: 30%;
  font-size: 18px;
  color:#3B5998;
  font-weight: bold;

  text-transform: uppercase;
}
.logo span{
  font-weight: 100;
  color:#00AFF0;

}
.nav{
  float: left;
  text-align: right;
  width: 70%;
  color:#012346;
}
.nav ul{
  margin: 0;
  padding: 0;
}
.nav li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.nav li:last-child{
  padding-right:0;
}
.nav li a{
  color:#012346;
  text-decoration: none;
}
.nav li a:hover{
  color:#B71C1C;
}

@media only screen and (max-width: 750px){
  nav{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo{
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    margin: 10px auto;
    padding: 10px 0 10px 20px;
  }
  .nav{
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    top: 100%;
    left: 0;
    text-align: left;
    width: 100%;
    background: rgba(1,35,70, .8);

  }
  .nav li{
    display: block;
    text-align: left;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #666;
  }
  .nav li a{
    color: #FFF;
  }
  .menu-toggle{
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after{
    content:'';
    display: block;
    width: 2em;
    height: 1.5px;
    background:#012346;
    transition: all ease-in-out 300ms;
  }
  .hamburger::before{
    transform:translateY(-6px);
  }
  .hamburger::after{
    transform:translateY(3px);
  }
}